In [1]:
import pandas as pd

# Cargar los archivos parquet
air_quality_df = pd.read_parquet('Data/air_quality_cleaned.parquet')
vehicle_counts_df = pd.read_parquet('Data/vehicle_counts_cleaned.parquet')

In [2]:
air_quality_df.head()

,Name,Measure,Geo Place Name,Time Period,Data Value,Year
0,Boiler Emissions- Total SO2 Emissions,Number per km2,Southeast Queens,2015,0.3,2015-01-01
1,Boiler Emissions- Total SO2 Emissions,Number per km2,Bensonhurst - Bay Ridge,2015,1.2,2015-01-01
2,Fine particles (PM 2.5),Mean,Bensonhurst - Bay Ridge,Annual Average 2012,8.6,2012-01-01
3,Fine particles (PM 2.5),Mean,Southeast Queens,Annual Average 2012,8.0,2012-01-01
4,Fine particles (PM 2.5),Mean,Southeast Queens,Summer 2022,6.1,2022-01-01

In [3]:
air_quality_df.columns

Index(['Name', 'Measure', 'Geo Place Name', 'Time Period', 'Data Value',
       'Year'],
      dtype='object')

In [4]:
air_quality_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15406 entries, 0 to 18024
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            15406 non-null  object
 1   Measure         15406 non-null  object
 2   Geo Place Name  15397 non-null  object
 3   Time Period     15406 non-null  object
 4   Data Value      15406 non-null  float64
 5   Year            15406 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 842.5+ KB

In [4]:
air_quality_df.drop_duplicates(inplace=True)
vehicle_counts_df.drop_duplicates(inplace=True)

In [5]:
vehicle_counts_df.head()

  Roadway Name Veh Class Type       Date
0    34 Avenue           Auto 2014-10-29
1    34 Avenue          Taxis 2014-10-29
2    34 Avenue     Commercial 2014-10-29
3    34 Avenue   Medium Truck 2014-10-29
4    34 Avenue    Heavy Truck 2014-10-29